
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/**/
/*--reset code--*/
html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*--Start--*/

h1 {
    margin: 150px 0px 0px 0px;
    text-align: center;

    font-size: 500%;
    cursor: pointer;
    transition: margin-top 0.3s ease-in-out;
}

h1:hover {
    margin-top: 120px;
}
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animated-heading {
  animation: slideInFromLeft 2s ease-in-out, bounce 1s ease-in-out  2s;

}




.flex{

    margin: 150px 0px 0px 0px;
    height: 200px;


}

.chicken{

    position: absolute;
    top: 0px;
    right: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
border-radius: 8px;
    font-size: 125%;
    background: purple;
    color: black;
    font-weight: bold;
    text-align: center;
     font-family: "Comic Sans MS", arial;
}


.beef{

    position: absolute;
    top: 0px;
    right: 0px;
    float: right;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
    font-size: 125%;
    background: red;
    color: black;
    font-weight: bold;
    text-align: center;
     font-family: "Comic Sans MS", arial;
}

.tw{
    clear: right;
}

.sushi{
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid black;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
    font-size: 125%;
    background: yellow;
    color: black;
    font-weight: bold;
    text-align: center;
     font-family: "Comic Sans MS", arial;
}

.p1{
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: 125%;
    background: blueviolet;
    color: black;
    font-weight: bold

}
.p2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    font-size: 125%;
    background: blueviolet;
    color: black;
    font-weight: bold

}
.p3{
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px 5px 10px;

    font-size: 125%;
    background: blueviolet;
    color: black;
    font-weight: bold

}


/*chicken*/
.one{

    position: relative;
    padding: 30px 0px 0px 0px;
    height: 200px;

    border: 1px solid black;

    background: #4682A9;
    color: white;
    line-height: 25px;
    overflow: auto;
}

/*beef*/
.two{
    position: relative;
    padding: 30px 0px 0px 0px;
    height: 200px;

    border: 1px solid black;

    background: #749BC2;
    color: white;
    line-height: 25px;
    overflow: auto;
}


/*sushi*/
.three{

    position: relative;
    padding: 30px 0px 0px 0px;
    height: 200px;

    border: 1px solid black;

    background: #91C8E4;
    color: white;
    line-height: 25px;
    overflow: auto;

}

    .one:hover{

    background: maroon;
}
    .two:hover{
    background: maroon;
}
    .three:hover{

    background: maroon;
}





/*--For Windows--*/
@media (min-width: 1200px)
{
    .flex{
     display: flex;
     padding: 10px;
    }
.one{
      width: 33.3%;
        float: right;



}


    .two{

        width: 33.3%;
        float: right;


    }


        .three{
            width: 33.3%;
             float: right;

    }


}

/*For tablet*/
@media (max-width: 1199px)and (min-width:850px ) {

    .flex {
        padding: 30px
    }

    .one {
        width: 99.75%;
        float: right;
        margin-top: 10px;


    }

    .two {

        width: 49.75%;
        float: right;


    }

    .three {
        width: 49.75%;
        float: right;


    }
}

/*--For mobile--*/
@media (max-width: 849px)
{
    .flex{
    padding: 30px
    }

.one{
      width: 100%;
        float: right;
        margin-bottom: 10px;

}
    .two{

        width: 100%;
        float: right;
        margin-bottom: 10px;

    }

        .three {
            width: 100%;
            float: right;
            margin-bottom: 10px;
        }

}


/*
git add .
git commit -m "my last update"
git push -u origin master  */